/* styles_dark.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212121;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  html {
    height: 100%;
    font-size: 150%;
  }
  
  h1 {
    background-color: #607d8b;
    color: #f5f5f5;
    padding: 1.5rem;
    margin: 0;
    font-weight: normal;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .container {
    width: 720px;
    background-color: #263238;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  p {
    margin: 0.75rem 0;
    font-size: 1.25rem;
  }
  
  input,
  button {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0.5rem;
  }
  
  input {
    background-color: #37474f;
    color: #f5f5f5;
    border: 1px solid #455a64;
  }
  
  .theme-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .theme-button {
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    padding: 0.25rem 0.5rem;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .theme-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
  }
  
  button {
    background-color: #607d8b;
    color: #f5f5f5;
    border: none;
    padding: 0.75rem 1.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  button:hover {
    background-color: #546e7a;
  }
  
  #result {
    font-weight: bold;
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }
  